{% extends 'base.html' %}
{% block main %}
<div class="info-row">
    <ol class="breadcrumb">
        <li><a href="/">Sākums</a></li>
        <li class="active">Pievienot preci vai atlikumus</li>
    </ol>
</div>
<div class="row form-group">
    <form action="/prece/pievienot" method="POST">
        <label for="ean" class="col-xs-3">Kods:
            <input placeholder="1234567" class="form-control" id="ean" type="text" name="ean" required>
        </label>
        <label for="description" class="col-xs-9">Apraksts
            <input placeholder="Preces apraksts. Nav obligāts, ja prece jau eksistē." class="form-control" id="description" type="text" name="description">
        </label>
        <label for="quantity" class="col-xs-4">Daudzums
            <input class="form-control" id="quantity" type="number" step="0.01" min="0" name="quantity" required>
        </label>
        <label for="priceIn" class="col-xs-4">Iepirkuma cena:
            <input class="form-control" id="priceIn" type="number" step="0.01" min="0" name="priceIn" required>
        </label>
        <label for="priceOut" class="col-xs-4">Pārdošanas cena:
            <input class="form-control" id="priceOut" type="number" step="0.01" min="0" name="priceOut" required>
        </label>
        <input type="submit" class="btn btn-info pull-right col-xs-2" value="Pievienot">
    </form>
</div>
{% endblock %}
