{% extends "base.html" %}

{# MACROS #}
{% macro listSales(sales) -%}
{% for sale in sales %}
  {% set product = sale.product.get() %}
  {% set price = sale.price %}
  {% set quantity = sale.quantity %}
  {% set ean = sale.product.id() %}
  <tr>
    <td class="ean"><a href="/prece?ean={{ ean }}">{{ ean }}</a> </td>
    <td class="description">{{ product.description }}</td>
    <td class="price">{{ price }}</td>
    <td class="quantity">{{ quantity }}</td>
    <td class="total">{{ quantity * price }}</td>
  </tr>
{% endfor %}
{%- endmacro %}

{% macro listPurchases(purchases) -%}
{% for purchase in purchases %}
  {% set product = purchase.product.get() %}
  {% set price = purchase.price %}
  {% set quantity = purchase.quantity %}
  {% set ean = purchase.product.id() %}
  <tr>
    <td class="ean"><a href="/prece?ean={{ ean }}">{{ ean }}</a> </td>
    <td class="description">{{ product.description }}</td>
    <td class="price">{{ price }}</td>
    <td class="quantity">{{ quantity }}</td>
    <td class="total">{{ quantity * price }}</td>
  </tr>
{% endfor %}
{%- endmacro %}

{% macro generateTable(eka, title) -%}
<div class="">
  <table class="table table-striped">
    <caption>
      <span class="label label-info">{{ title }}</span>
      <span class="glyphicon glyphicon-search"></span>
      <div class="input-group col-xs-12 pull-right">
        <input id="ean" class="form-control search fuzzy-search" name="ean" type="text" placeholder="Preces nosaukums vai kods">
      </div><!-- /input-group -->
    </caption>
    <thead>
      <tr>
        <th class="sort" data-sort="ean">Kods</th>
        <th class="sort" data-sort="description">Nosaukums</th>
        <th class="sort" data-sort="price">Cena</th>
        <th class="sort" data-sort="quantity">Daudzums</th>
        <th class="sort" data-sort="total">Summa</th>
      </tr>
    </thead>
    <tbody class="list">
      {{ caller(eka) }}
      <tr>
        <td class="pagination"></td>
      </tr>
    </tbody>
  </table>
</div>
{%- endmacro %}

{% macro generateRow(title, eka) -%}
<div id="tab-{{ eka.idn }}" class="tab-pane fade panel">
    <br>
    <span class="well well-sm">Ieņēmumi {{ eka.salesTotal }} &euro;</span>
    <span class="well well-sm">Izdevumi {{ eka.purchasesTotal }} &euro;</span>
    <hr>
  {% if eka.sales %}
  <div id="{{ eka.idn }}-sales">
    {% call(eka) generateTable(eka, 'Pārdotās preces') %}
      {{ listSales(eka.sales) }}
    {% endcall %}
  </div>
  {% elif eka.purchases %}
      <span class="alert alert-warning">Preču pārdošana nav reģistrēta.</span>
  {% endif %}

  {% if eka.purchases  %}
  <div id="{{ eka.idn }}-purchases">
    {% call(eka) generateTable(eka, 'Iepirktās preces') %}
      {{ listPurchases(eka.purchases) }}
    {% endcall %}
  </div>
  {% elif eka.sales %}
      <span class="alert alert-warning">Preču iepirkumi nav reģistrēti.</span>
  {% endif %}

  {% if not (eka.sales or eka.purchases) %}
    <span class="alert alert-warning">Preču kustība nav reģistrēta.</span>
  {% endif %}

</div>
{% endmacro -%}

{# END OF MACROS #}

{% block main %}
  <div class="info-row">
    <ol class="breadcrumb">
      <li><a href="/">Sākums</a></li>
      <li class="active">Perioda pārskats</li>
    </ol>
  </div>

  <div class="period-menu">

    <ol class="period-list">
      <li><a href="?periods=sodien"><span class="date">Šodien</span></a></li>
      <li><a href="?periods=vakar"><span class="date">Vakar</span></a></li>
      <li><a href="?periods=sonedel"><span class="date">Šonedēļ</span></a></li>
      <li><a href="?periods=somenes"><span class="date">Šomēnes</span></a></li>
      <li><a href="?periods=ieprnedela"><span class="date">Iepriekšējā nedēļa</span></a></li>
      <li><a href="?periods=ieprmenesis"><span class="date">Iepriekšējais mēnesis</span></a></li>
    </ol>

    <form action="" method="GET">
      <input name="ean" type="text" class="hidden" value="{{ ean }}" />
      <div class="form-group col-xs-3 col-xs-offset-2">
        <div class='input-group date' id='datetimepicker8'>
          <input name="no" placeholder="Perioda sākums" type='text' class="form-control" data-format="YYYY/MM/DD HH:MM:SS"/>
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>

      <div class="form-group col-md-3">
        <div class='input-group date' id='datetimepicker9'>
          <input name="lidz" placeholder="Perioda beigas" type='text' class="form-control" data-format="YYYY/MM/DD HH:MM:SS"/>
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="col-md-1">
        <input type="submit" class="btn btn-default" value="Atlasīt">
      </div>
    </form>
  </div>
  <div class="container">
    {% if not (no or lidz) %}
    <span class="alert alert-warning">Izvēlieties periodu.</span>
    {% else %}

      <hr>

      <div class="well well-lg">
        Periods:
        No {{ no if no else 'laika sākuma' }}
        lidz {{ lidz if lidz else 'laika galam' }} <br>

        Perioda ietvaros: Kopā pārdots par summu: {{ salesTotal }} &euro; |
        Kopā iepirkts par summu: {{ purchasesTotal }} &euro;

      </div>

      <div class="result">
        <hr>

        <ul id="MyTab" class="nav nav-tabs">
          <li><a href="#tab-0063" data-toggle="tab">Viesturs</a></li>
          <li><a href="#tab-0040" data-toggle="tab">Ilga</a></li>
          <li><a href="#tab-0000" data-toggle="tab">Sigita</a></li>
          <li><a href="#tab-0084" data-toggle="tab">Daiga</a></li>
          <li><a href="#tab-0704" data-toggle="tab">Ivars</a></li>
          <li><a href="#tab-1360" data-toggle="tab">Inga</a></li>
          <li><a href="#tab-None" data-toggle="tab">Preces, kam nav piešķirta kase </a></li>
        </ul>
        <div id="MyTabContent" class="tab-content">
          {% if sales or purchases %}
          {% for eka in ekas %}
          {{ generateRow(eka.name + ' kase', eka) }}
          {% endfor %}
          {% elif not (purchases or sales) %}
          <span class="alert alert-warning">Nav datu.</span>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
